option_settings:
  - option_name: AWS_ACCESS_KEY_ID
    value: 
  - option_name: AWS_SECRET_KEY
    value: 
  - option_name: BUNDLE_WITHOUT
    value: test:development
  - option_name: RAILS_SKIP_ASSET_COMPILATION
    value: true
  - option_name: RAILS_SKIP_MIGRATIONS
    value: false
  - option_name: SECRET_KEY_BASE
    value: 
  - option_name: FOG_PROVIDER
    value: AWS
  - option_name: FOG_DIRECTORY
    value: 
  - option_name: FOG_REGION
    value: 